* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    cursor: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(45deg,
            rgb(0, 0, 0),
            rgb(48, 1, 1),
            rgb(0, 0, 0));
    cursor: none;
    width: 100%;
    overflow-x: hidden;
}

a {
    cursor: none;
}

h1 {
    color: #ffffff;
    font-family: "Audiowide", sans-serif;

}

p {
    color: white;
    width: 500px;
    text-align: justify;
    line-height: 25px;
    font-family: 'Poppins', sans-serif;
}

.home-img {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    background-color: #5a1111;
    border-top: 1px solid #ff000065;
    border-bottom: 1px solid #ff000065;


}

.avatar {
    width: 500px;
    margin-right: 15%;
    border-radius: 50%;
    border: 7px solid #920808;
    box-shadow: 0 0 20px rgb(250, 45, 45), 0 0 60px rgb(247, 0, 0), 0 0 90px rgb(250, 103, 45);

}

.btn_contact{
    padding: 10px  15px;
    background-color: transparent;
    color:#f79797;
    border: 1px solid #fa9e9e;
    border-radius: 20px;
    font-size: larger;
    margin-right: 50px;
   
}


/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 100px;
    background-color: rgba(98, 0, 255, 0.05);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom: 1px solid #fa2d2d;
    font-family: "Audiowide", sans-serif;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.logo {
    font-size: 2rem;
    color: #fa2d2d;
    font-weight: 800;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
}

nav a {
    font-size: 1.5rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
}

nav a:hover,
nav a.active {
    color: #fa2d2d;
}

nav a.active {
    font-weight: 700;
}

/* MENU BUTTON */

.menu-btn {
    display: none;
    font-size: 2rem;
    color: white;
    z-index: 1002;
}

/* CUSTOM CURSOR */

.cursor-dot {
    position: fixed;
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
    background: #fa2d2d;
    border: 2px solid #00ffff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 99999;

    transition: width .2s ease,
        height .2s ease,
        background .2s ease;

    box-shadow:
        0 0 5px #00ffff,
        0 0 10px #00ffff,
        0 0 20px #00ffff,
        0 0 40px #00ffff;
}

.cursor-dot.zoom {
    width: 24px;
    height: 24px;
    background: rgba(64, 64, 65, 0.5);
}

.cursor-dot.text {
    width: 2px;
    height: 20px;
    background: #ffffff;
    border-radius: 0;
}

/* RGB GLOW */

.cursor-dot::before {
    content: "";
    position: absolute;
    inset: -3px;
    border-radius: inherit;
    background: linear-gradient(45deg, #ff0000, #00ff00, #0000ff, #ff00ff, #ff0000);
    background-size: 400%;
    z-index: -1;
    filter: blur(10px);
    animation: rgbGlow 8s linear infinite;
}



/* OVERLAY */

.menu-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    z-index: 999;
}

.menu-overlay.active {
    opacity: 1;
    visibility: visible;
}

#typing {
    color: #ff0000; 
    border-right: 3px solid #fa2d2d;
    padding-right: 5px;
    animation: blink 0.7s infinite;
}

.name {
    font-weight: bold;
    background: linear-gradient(60deg, #ff0000, #fc8353, #fa2d2d, #ff7b53, #ff0000);
    -webkit-background-clip: text; /* makes gradient apply to text */
    -webkit-text-fill-color: transparent; /* hides solid color */  
    
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes rgbGlow {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 400% 0;
    }
}