.timeline {
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 100vw;
        min-height: 100%;
        overflow-x: hidden;   
        overflow-y: auto;
    }
:root {
  --bg-dark: linear-gradient(45deg, rgb(0,0,0), rgb(113,7,7), rgb(0,0,0));
  --text-dark: #f5f5f5;
  --accent-red: #dc143c; /* crimson */
}
:root {
    --bg-light:linear-gradient(45deg,
        rgba(255, 98, 0, 0.718),   /* light gray base */
        rgba(255, 0, 0, 0.679),     /* crimson red */
        rgba(255, 98, 0, 0.749));   /* steel blue */
        
    --nav-linkcolor:black;
    --text-light: #222;
}


body.dark-mode {
    background: var(--bg-dark);
    color: var(--text-dark);

}

body.light-mode {
  background: var(--bg-light);
  color: var(--text-light);
}

button {
    background: var(--accent-red);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}


button {
  background: var(--accent-red);
  color: white;
}


button:hover {
  background: #a50d2d; /* darker red */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;

}

/* Desktop / Laptop with mouse */
@media (hover: hover) and (pointer: fine) {
    * {
        cursor: none;
    }

    .cursor-dot {
        display: block;
    }
}

/* Phones & tablets with touch */
@media (hover: none) and (pointer: coarse) {
    * {
        cursor: auto;
    }

    .cursor-dot {
        display: none;
    }
}
::selection {
    background: #ff64649a; 
    color: #ffffff;
    
}

/* For Firefox, use ::-moz-selection */
::-moz-selection {
    background: #ff64649a; 
    color: #ffffff;
}

html {
    scroll-behavior: smooth;
}
.img_degree_banner{
    position: absolute;
    border: 2px solid red;
    border-radius:15px;
    width:auto;
    height:auto;
    background-color: #f3000035;
    color: white;
    font-size: 24px;
    align-items: center;
    align-content: center;     
    padding: 10px;
    text-align: center; 
    margin-left: -85px;
    margin-top: 20px;
    transition: background-color 0.4s;
}
.img_esoft_banner{
    position: absolute;
    border: 2px solid red;
    border-radius:15px;
    width:auto;
    height:auto;
    background-color: #f3000035;
    color: white;
    font-size: 24px;
    align-items: center;
    align-content: center;     
    padding: 10px;
    text-align: center; 
    margin-left: auto;
    display:block;
    margin-top: 120px;
    margin-right: 0px;
    margin-left: 400px;
    transition: background-color 0.4s;
}
.img_Developer_banner{
    position: absolute;
    border: 2px solid red;
    border-radius:15px;
    width:auto;
    height:auto;
    background-color: #f3000035;
    color: white;
    font-size: 24px;
    align-items: center;
    align-content: center;     
    padding: 10px;
    text-align: center; 
    margin-left: -150px;
    margin-top: 220px;
    transition: background-color 0.4s;
}
.img_3D_banner{
    position: absolute;
    border: 2px solid red;
    border-radius:15px;
    width:auto;
    height:auto;
    background-color: #f3000035;
    color: white;
    font-size: 24px;
    align-items: center;
    align-content: center;     
    padding: 10px;
    text-align: center; 
    margin-left: auto;
    display:block;
    margin-top: 340px;
    margin-right: 0px;
    margin-left: 355px;
    transition: background-color 0.4s;
}
.img_degree_banner:hover , .img_esoft_banner:hover , .img_Developer_banner:hover, .img_3D_banner:hover{
    background-color: #f30000;
}
.img_degree_banner_inner_text ,.img_esoft_banner_inner_text , .img_Developer_banner_inner_text ,.img_3d_banner_inner_text{
    font-size: 18px;
    color: rgb(218, 207, 207);
    font-family: 'Poppins', sans-serif;

}
.img_degree_banner , .img_esoft_banner , .img_Developer_banner, .img_3D_banner {
    animation: bounce 4s infinite;
    }
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  75%{
    transform: translateY(5px);
  }
}
.back_gif {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  opacity: 10%;
}
body {
    background: linear-gradient(45deg,
            rgb(0, 0, 0),
            rgb(113, 7, 7),
            rgb(0, 0, 0));
    cursor: none;
    width: 100%;
    overflow-x: hidden;
}

a {
    cursor: none;
}

h1 {
    color: #ffffff;
    font-family: "Audiowide", sans-serif;

}

p {
    color: white;
    width: 500px;
    text-align: justify;
    line-height: 25px;
    font-family: 'Poppins', sans-serif;
}

.home-img {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: calc(100vh - 675px);
    background-color: #5a1111;
    border-top: 1px solid #ff000065;
    border-bottom: 1px solid #ff000065;
}

body.scale-125 .home-img {
    margin-top: calc(100vh - 575px);   
}

body.light-mode .home-img {
    background-color: #d12525;
    border-top: 1px solid #d12525;
    border-bottom: 1px solid #d12525;
}

.avatar {
    width: 500px;
    margin-right: 15%;
    border-radius: 50%;
    border: 7px solid #920808;
    background-color: #050505;
    box-shadow: 0 0 20px rgb(250, 45, 45), 0 0 60px rgb(247, 0, 0), 0 0 90px rgb(250, 103, 45);

}
.avatar_image{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
}

.btn_contact{
    padding: 10px  15px;
    width: max-content;
    background-color: transparent;
    color:#f79797;
    border: 1px solid #fa9e9e;
    border-radius: 20px;
    font-size: larger;
    font-weight: bolder;
    margin-right: 50px;
    transition: background-color 0.4s;
}
.btn_contact:hover {
    background-color: #fa9e9e;
    color:#ff0000;
    border: 1px solid #fa9e9e;
}
.home_btn_holder{
    width: 100%;
    height: max-content;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 100px;
    background-color: rgba(98, 0, 255, 0.05);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom: 1px solid #fa2d2d;
    font-family: "Audiowide", sans-serif;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.logo {
    font-size: 2rem;
    color: #fa2d2d;
    font-weight: 800;
    transition: 0.5s ease;
}
body.light-mode .logo{
    color: white;
}

.logo:hover {
    transform: scale(1.1);
}

nav a {
    font-size: 1.5rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
}
body.scale-125 nav a {
    font-size: 1.2rem;
    color: white;
    margin-left: 2rem;
}

body nav a:hover,
body nav a.active {
  color: #fa2d2d;
}
body.light-mode nav a:hover,
body.light-mode nav a.active {
  color: #8b3c3c;
}


nav a.active  {
    font-weight: 700;
}

/* MENU BUTTON */

.menu-btn {
    display: none;
    font-size: 2rem;
    color: white;
    z-index: 1002;
}
.Stack{
    margin-top: 225px;
    padding: 100px;
    padding-top: 0px;
    width: 100%;
    height: max-content;
    position: relative;
    background: radial-gradient(circle, #ff000019,#ff00001e, #ff000036);
    border-top: 1px solid #ff000065;
    border-bottom: 1px solid #ff000065;
    
}

/* CUSTOM CURSOR */

.cursor-dot {
    position: fixed;
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
    background: #fa2d2d;
    border: 2px solid #fa9e9e;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 99999;

    transition: width .2s ease,
        height .2s ease,
        background .2s ease;

    box-shadow:
        0 0 5px #fa9e9e,
        0 0 10px #fa9e9e,
        0 0 20px #fa9e9e,
        0 0 40px #fa9e9e;
}

.cursor-dot.zoom {
    width: 24px;
    height: 24px;
    background: rgba(64, 64, 65, 0.5);
}

.cursor-dot.text {
    width: 2px;
    height: 20px;
    background: #ffffff;
    border-radius: 0;
}

/* RGB GLOW */

.cursor-dot::before {
    content: "";
    position: absolute;
    inset: -3px;
    border-radius: inherit;
    background: linear-gradient(45deg, #ffaa79, #f30000, #f1bdbd, #ff0000);
    background-size: 400%;
    z-index: -1;
    filter: blur(10px);
    animation: rgbGlow 8s linear infinite;
}



/* OVERLAY */

.menu-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    z-index: 999;
}

.menu-overlay.active {
    opacity: 1;
    visibility: visible;
}

#typing {
    color: #ff0000; 
    border-right: 3px solid #fa2d2d;
    padding-right: 5px;
    animation: blink 0.7s infinite;
}
body.light-mode #typing{
    color: #949292; 
}

.name {
    font-weight: bold;
    background: linear-gradient(60deg, #ff0000, #fc8353, #fa2d2d, #ff7b53, #ff0000);
    -webkit-background-clip: text; /* makes gradient apply to text */
    -webkit-text-fill-color: transparent; /* hides solid color */  
    
}
body.light-mode .name {
    background: linear-gradient(60deg, #f9f9f9, #6b6b6b, #ffffff, #686868, #ffffff);
    -webkit-background-clip: text; /* makes gradient apply to text */
    -webkit-text-fill-color: transparent; /* hides solid color */  

}


@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes rgbGlow {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 400% 0;
    }
}



/*loading effect*/
#loader{
    position: fixed;
    inset: 0;
    background: #050505;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
    overflow: hidden;
}

.loader-content{
    text-align: center;
}

.loader-name{
    font-size: clamp(2rem,6vw,5rem);
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: 8px;
    color: white;
    margin-bottom: 40px;
    animation: glow 2s infinite alternate;
}

.progress-container{
    max-width: min(850px,80vw);
    height: 4px;
    background: rgba(255,255,255,0.1);
    border-radius: 50px;
    overflow: hidden;
    margin: auto;
    display: block;
    align-items: center;
}

.progress-bar{
    width: 0%;
    height: 100%;
    background: linear-gradient(
        90deg,
        #b74b4b,
        #8f5cff,
        #00d4ff
    );
    border-radius: 50px;
}

#loading-percent{
    display: block;
    margin-top: 20px;
    color: white;
    font-size: 1rem;
    letter-spacing: 3px;
}

@keyframes glow{
    from{
        text-shadow:
            0 0 10px #b74b4b,
            0 0 20px #b74b4b;
    }
    to{
        text-shadow:
            0 0 20px #8f5cff,
            0 0 40px #8f5cff,
            0 0 60px #8f5cff;
    }
}

.loader-hide{
    opacity: 0;
    transform: scale(1.1);
    filter: blur(20px);
    transition: all 1s ease;
}

/* stacks area */
.stack-grid{
    display: flex;
    flex-wrap: wrap;
    gap:18px;
    align-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(auto-fit, minmax(150px, max-content));
    justify-content: center;
    border-bottom:1px solid #f30000 ;
    padding-bottom: 30px;
    padding-top: 30px;
}
.stack-grid h3{
    transition: color 0.5s;
}
.skill-card{
    display:flex;
    align-items:center;
    gap:12px;
    width: 150px;
    background:rgba(255, 2, 2, 0.116);
    border-radius:12px;
    transition:.3s ease;
    color: f79797;
    font-family: 'Space Grotesk', sans-serif;

}

body.light-mode .skill-card{
    background:rgba(255, 2, 2, 0.288);

}
.skill-card i{
    font-size:1.8rem;
    background-color: #920808;
    border-radius:12px;
    width: 60px;
    padding:12px 12px;
}
body.light-mode .skill-card i{
    background:rgba(231, 32, 32, 0.881);

}

.skill-card span{
    font-size:0.95rem;
    font-weight:500;
}

.skill-card:hover{
    transform:translateY(-5px);
    border-color:#c8ff00;
    box-shadow:0 0 20px rgba(200,255,0,.25);
}

.skill-card:hover i{
    transform:scale(1.15);
}

.skill-card i{
    transition:.3s;
}

.stack_badge{
    color: #fa2d2d;
    background-color: #5a1111;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #fa2d2d;
    font-size:medium ;
    font-family: 'Poppins', sans-serif;
}
body.light-mode .stack_badge{
    color: #e1e1e1;
    background-color: #f64343;

}
.section-title h2 {
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
    font-size: large;
    font-weight: bold;
    background: linear-gradient(60deg, #ff0000, #fc8353, #fa2d2d, #ff7b53, #ff0000);
    -webkit-background-clip: text; /* makes gradient apply to text */
    -webkit-text-fill-color: transparent; /* hides solid color */      font-family: "Audiowide", sans-serif;
}
body.light-mode .section-title h2{
    color: white;
}

.section-title h2 span{
    font-weight: bold;
    background: linear-gradient(60deg, #ff0000, #fc8353, #fa2d2d, #ff7b53, #ff0000);
    -webkit-background-clip: text; /* makes gradient apply to text */
    -webkit-text-fill-color: transparent; /* hides solid color */  
}
body.light-mode .section-title h2 span{
    background: linear-gradient(60deg, #bdbcbc, #eeecec, #bdbcbc, #eeecec, #bdbcbc);
    -webkit-background-clip: text; /* makes gradient apply to text */
    -webkit-text-fill-color: transparent; /* hides solid color */  
}

.stack-category h3{
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Space Grotesk', sans-serif;
    color: #ffffff;
}
.stack_inner{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: block;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-self: center;
}
.stack_inner h3{
    text-align: left;
    width: 150px;
}


#DATABASE:hover H3{
    color:#f30000;
}
#WEB:hover H3{
    color:#f30000;
}
#PROGRAMMING:hover H3{
    color:#f30000;
}
#TOOLS:hover H3{
    color:#f30000;
}

.page{
    opacity: 0;
    transform: translateY(80px);
    transition: all 0.8s ease;
}

.page.show{
    opacity: 1;
    transform: translateY(0);
}

.soft_skills .h2_in_soft_skill{
    background: linear-gradient(60deg, #ff0000, #fc8353, #fa2d2d, #ff7b53, #ff0000);
    -webkit-background-clip: text;   
    -webkit-text-fill-color: transparent;
    background-clip: text;         
    color: transparent;     
    font-family: "Audiowide", sans-serif;
    font-size: x-large;

}

body.light-mode  .h2_in_soft_skill{
    background: linear-gradient(60deg, #bdbcbc, #eeecec, #bdbcbc, #eeecec, #bdbcbc);
    -webkit-background-clip: text; /* makes gradient apply to text */
    -webkit-text-fill-color: transparent; /* hides solid color */  
}

.soft_skills {
  width: 100%;
  justify-content: center;    
  margin: auto;
}

.soft_skills_inner {
  width: 100%;
  height: max-content;
  display: flex;
  flex-wrap: wrap;            
  justify-content: center;    
  align-items: center;        
  text-align: center;
  margin: auto;
}

.soft_skills_list {
  display: flex;
  padding: 15px;
  border: none;
  border-radius: 15px;
  background-color: #821d1d;
  color: white;
  width: max-content;
  margin: 10px;
  font-family: "Audiowide", sans-serif;
}
body.light-mode .soft_skills_list{
    background-color: #ff0b0b8c;

}

.skill_container{
    width: 100%;
    min-height: 200px;
    height: 200px;
    max-height: max-content;

}

    /* Filter bar */
    .filter-bar {
      text-align: center;
      margin-bottom: 30px;
    }

    .filter-bar button {
      margin: 5px;
      padding: 10px 20px;
      border: none;
      background: #821d1d;
      color: white;
      cursor: pointer;
      border-radius: 14px;
      transition: background-color 0.4s;
    }
    body.light-mode .filter-bar button {
        background: #f72c2c;

    }

    .filter-bar button.active {
      background: #c02121;
    }
    .filter-bar button:hover {
      background: #c02121;
    }

    /* Project grid */
    .projects {
        display: grid; 
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        gap: 20px;
        max-width: 1200px;
        margin: auto;
        justify-items: center;  
        align-items: center;
        
        }

    .project-card {
      background-color: #f3000028;
      padding: 20px;
      border-radius: 20px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    }

    .project-card h3 {
      margin-top: 0;
    }

    .project-card p {
      color: #ffffff7e;
      width: 90%;
    }

    .project-card H3 {
      color: #ff3f3fd2;
      width: 90%;
    }

    .project-card a {
      display: inline-block;
      margin-top: 10px;
      text-decoration: none;
      color: white;
      font-weight: bold;
      
    }

    .hidden {
      display: none;
    }
    #stack{
        margin-bottom: 50px;
    }
    #Projects-container{
        width: 100%;
        margin-bottom: 60px;

    }

    #Projects-container span , #Education .section-title{
        display: block;
        margin: auto;
        width: 500px;
        max-width: 100%;
        align-items: center;
        font-size: large;
        text-align: center;
        font-family: "Audiowide", sans-serif;
        font-weight: bold;
        background: linear-gradient(60deg, #ff0000, #fc8353, #fa2d2d, #ff7b53, #ff0000);
        -webkit-background-clip: text; /* makes gradient apply to text */
        -webkit-text-fill-color: transparent; /* hides solid color */  
            
    }
    body.light-mode #Projects-container span,
    body.light-mode #Education .section-title
    {
        background: linear-gradient(60deg, #9b9b9b, #eeecec, #9b9b9b, #eeecec, #9b9b9b);
    -webkit-background-clip: text; /* makes gradient apply to text */
    -webkit-text-fill-color: transparent; /* hides solid color */  
    }

    .section-title{
        padding-top: 100px;
        padding-bottom: 30px;
    }
    #Education{
        background-color: #b013133e;
        padding-bottom: 80px;
    }

    #projects-container p {
        margin: auto;
        display: block;
        align-items: center;
        text-align: center;
        width: max-content;
        padding: 8px;
        width: 90%;
    }
    
    .project-card-img{
        width: calc(100% + 10px);
        margin-left: -5px;
        margin-top  :-5px;
        border: none;
        border-radius: 20px;
        margin-bottom: 20px;
        
    }
    
    /* SECTION */
.timeline-section{
    min-height:100vh;
    padding:100px 20px;
}




/* TIMELINE */
.timeline{
    position:relative;
    max-width:1000px;
    margin:auto;
}

/* Background Line */
.timeline::before{
    content:'';
    position:absolute;
    left:50%;
    top:0;
    width:4px;
    height:100%;
    background:rgba(255,255,255,0.1);
    transform:translateX(-50%);
}

/* Animated Progress Line */
.timeline-progress{
    position:absolute;
    left:50%;
    top:0;
    width:4px;
    height:0;
    transform:translateX(-50%);
    background:linear-gradient(#ff0000,#731313);
    box-shadow:0 0 20px #ff0000;
    z-index:0;
}
body.light-mode .timeline-progress{
    background:linear-gradient(#ec8c8c,#dc7878);
    box-shadow:0 0 20px #ed9494;
}

/* Timeline Item */
.timeline-item{
    position:relative;
    width:50%;
    padding:20px 40px;
    opacity:0;
    transition:all .8s ease;
}

.timeline-item.left{
    left:0;
    transform:translateX(-100px);
}

.timeline-item.right{
    left:50%;
    transform:translateX(100px);
}

.timeline-item.show{
    opacity:1;
    transform:translateX(0);
}

/* Card */
.timeline-content{
    background:rgba(255, 255, 255, 0.07);
    backdrop-filter:blur(10px);
    border:1px solid rgba(255, 255, 255, 0.08);
    padding:25px;
    border-radius:20px;
    transition:.3s;
}
body.light-mode .timeline-content {
    background:rgba(255, 255, 255, 0.196);
}

.timeline-content:hover{
    transform:translateY(-8px);
    box-shadow:0 0 25px rgba(255, 0, 0, 0.3);
}

.timeline-content h3{
    color:#ff0000;
    margin:10px 0;
}
body.light-mode .timeline-content h3{
    color:rgb(139, 16, 16);

}

.timeline-content p{
    color:#d0d0d0b7;
    line-height:1.6;
    width: fit-content;
    max-width: max-content;
}
body.light-mode .timeline-content p{
    color: rgba(0, 0, 0, 0.342);
}
.year{
    color:#ff2c4f;
    font-weight:bold;
}
body.light-mode .year {
    color: rgba(157, 14, 14, 0.705);
}

/* Dots */
.timeline-dot{
    margin-top: 60px;
    position:absolute;
    top:35px;
    width:22px;
    height:22px;
    background:#ff0000;
    border-radius:50%;
    z-index:5;
    box-shadow:
    0 0 10px #ff0000,
    0 0 20px #ff0000,
    0 0 40px #ff0000;
}
body.light-mode .timeline-dot{
    background:#f58181;
    box-shadow:
    0 0 10px #f58181,
    0 0 20px #f58181,
    0 0 40px #f58181;
}

.left .timeline-dot{
    right:-11px;
}

.right .timeline-dot{
    left:-11px;
}

/* Mobile */
@media(max-width:768px){

    .timeline::before,
    .timeline-progress{
        left:20px;
    }

    .timeline-item{
        width:100%;
        left:0 !important;
        padding-left:60px;
        padding-right:10px;
    }

    .timeline-dot{
        left:9px !important;
    }

    .section-title{
        font-size:2rem;
    }
    .timeline-item.left{
    left:0;
    transform:translateX(-100px);
}

.timeline-item.right{
    left:50%;
    transform:translateX(-100px);
}

.timeline-item.show{
    opacity:1;
    transform:translateX(0);
}
}