* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;

}
/* Desktop / Laptop with mouse */
@media (hover: hover) and (pointer: fine) {
    * {
        cursor: none;
    }

    .cursor-dot {
        display: block;
    }
}

/* Phones & tablets with touch */
@media (hover: none) and (pointer: coarse) {
    * {
        cursor: auto;
    }

    .cursor-dot {
        display: none;
    }
}
::selection {
    background: #ff64649a; 
    color: #ffffff;
    
}

/* For Firefox, use ::-moz-selection */
::-moz-selection {
    background: #ff64649a; 
    color: #ffffff;
}

html {
    scroll-behavior: smooth;
}
.back_gif {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  opacity: 4%;
}
body {
    background: linear-gradient(45deg,
            rgb(0, 0, 0),
            rgb(48, 1, 1),
            rgb(0, 0, 0));
    cursor: none;
    width: 100%;
    overflow-x: hidden;
}

a {
    cursor: none;
}

h1 {
    color: #ffffff;
    font-family: "Audiowide", sans-serif;

}

p {
    color: white;
    width: 500px;
    text-align: justify;
    line-height: 25px;
    font-family: 'Poppins', sans-serif;
}

.home-img {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    background-color: #5a1111;
    border-top: 1px solid #ff000065;
    border-bottom: 1px solid #ff000065;
}

.avatar {
    width: 500px;
    margin-right: 15%;
    border-radius: 50%;
    border: 7px solid #920808;
    box-shadow: 0 0 20px rgb(250, 45, 45), 0 0 60px rgb(247, 0, 0), 0 0 90px rgb(250, 103, 45);

}
.avatar_image{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
}

.btn_contact{
    padding: 10px  15px;
    background-color: transparent;
    color:#f79797;
    border: 1px solid #fa9e9e;
    border-radius: 20px;
    font-size: larger;
    margin-right: 50px;
   
}


/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 100px;
    background-color: rgba(98, 0, 255, 0.05);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom: 1px solid #fa2d2d;
    font-family: "Audiowide", sans-serif;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.logo {
    font-size: 2rem;
    color: #fa2d2d;
    font-weight: 800;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
}

nav a {
    font-size: 1.5rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
}

nav a:hover,
nav a.active  {
    color: #fa2d2d;
}

nav a.active  {
    font-weight: 700;
}

/* MENU BUTTON */

.menu-btn {
    display: none;
    font-size: 2rem;
    color: white;
    z-index: 1002;
}
.Stack{
    margin-top: 200px;
    padding: 100px;
    width: 100%;
    height: max-content;
    position: relative;
    background-color: #c72a2a67;
    border-top: 1px solid #ff000065;
    border-bottom: 1px solid #ff000065;
}

/* CUSTOM CURSOR */

.cursor-dot {
    position: fixed;
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
    background: #fa2d2d;
    border: 2px solid #fa9e9e;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 99999;

    transition: width .2s ease,
        height .2s ease,
        background .2s ease;

    box-shadow:
        0 0 5px #fa9e9e,
        0 0 10px #fa9e9e,
        0 0 20px #fa9e9e,
        0 0 40px #fa9e9e;
}

.cursor-dot.zoom {
    width: 24px;
    height: 24px;
    background: rgba(64, 64, 65, 0.5);
}

.cursor-dot.text {
    width: 2px;
    height: 20px;
    background: #ffffff;
    border-radius: 0;
}

/* RGB GLOW */

.cursor-dot::before {
    content: "";
    position: absolute;
    inset: -3px;
    border-radius: inherit;
    background: linear-gradient(45deg, #ffaa79, #f30000, #f1bdbd, #ff0000);
    background-size: 400%;
    z-index: -1;
    filter: blur(10px);
    animation: rgbGlow 8s linear infinite;
}



/* OVERLAY */

.menu-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    z-index: 999;
}

.menu-overlay.active {
    opacity: 1;
    visibility: visible;
}

#typing {
    color: #ff0000; 
    border-right: 3px solid #fa2d2d;
    padding-right: 5px;
    animation: blink 0.7s infinite;
}

.name {
    font-weight: bold;
    background: linear-gradient(60deg, #ff0000, #fc8353, #fa2d2d, #ff7b53, #ff0000);
    -webkit-background-clip: text; /* makes gradient apply to text */
    -webkit-text-fill-color: transparent; /* hides solid color */  
    
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes rgbGlow {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 400% 0;
    }
}



/*loading effect*/
#loader{
    position: fixed;
    inset: 0;
    background: #050505;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
    overflow: hidden;
}

.loader-content{
    text-align: center;
}

.loader-name{
    font-size: clamp(2rem,6vw,5rem);
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: 8px;
    color: white;
    margin-bottom: 40px;
    animation: glow 2s infinite alternate;
}

.progress-container{
    max-width: min(850px,80vw);
    height: 4px;
    background: rgba(255,255,255,0.1);
    border-radius: 50px;
    overflow: hidden;
    margin: auto;
    display: block;
    align-items: center;
}

.progress-bar{
    width: 0%;
    height: 100%;
    background: linear-gradient(
        90deg,
        #b74b4b,
        #8f5cff,
        #00d4ff
    );
    border-radius: 50px;
}

#loading-percent{
    display: block;
    margin-top: 20px;
    color: white;
    font-size: 1rem;
    letter-spacing: 3px;
}

@keyframes glow{
    from{
        text-shadow:
            0 0 10px #b74b4b,
            0 0 20px #b74b4b;
    }
    to{
        text-shadow:
            0 0 20px #8f5cff,
            0 0 40px #8f5cff,
            0 0 60px #8f5cff;
    }
}

.loader-hide{
    opacity: 0;
    transform: scale(1.1);
    filter: blur(20px);
    transition: all 1s ease;
}

/* stacks area */
.stack-grid{
    display: flex;
    flex-wrap: wrap;
    gap:18px;
    align-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(auto-fit, minmax(150px, max-content));
    justify-content: center;
    border-bottom:1px solid #f30000 ;
    padding-bottom: 30px;
    padding-top: 30px;
}

.skill-card{
    display:flex;
    align-items:center;
    gap:12px;
    width: 150px;
    background:rgba(255,255,255,0.03);
    border-radius:12px;
    transition:.3s ease;
    color: f79797;
    font-family: 'Space Grotesk', sans-serif;

}

.skill-card i{
    font-size:1.8rem;
    background-color: #920808;
    border-radius:12px;
    width: 60px;
    padding:12px 12px;
}

.skill-card span{
    font-size:0.95rem;
    font-weight:500;
}

.skill-card:hover{
    transform:translateY(-5px);
    border-color:#c8ff00;
    box-shadow:0 0 20px rgba(200,255,0,.25);
}

.skill-card:hover i{
    transform:scale(1.15);
}

.skill-card i{
    transition:.3s;
}

.stack_badge{
    color: #fa2d2d;
    background-color: #5a1111;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #fa2d2d;
    font-size:small ;
}
.section-title h2{
    margin-top: 20px;
    color: #fa2d2d;
    font-family: "Audiowide", sans-serif;
}
.section-title h2 span{
    font-weight: bold;
    background: linear-gradient(60deg, #ff0000, #fc8353, #fa2d2d, #ff7b53, #ff0000);
    -webkit-background-clip: text; /* makes gradient apply to text */
    -webkit-text-fill-color: transparent; /* hides solid color */  
}

.stack-category h3{
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Space Grotesk', sans-serif;
    color: #ffffff;
}
.stack_inner{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: block;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-self: center;
}
.stack_inner h3{
    text-align: left;
    width: 150px;
}